*,
*::before,
*::after{
    box-sizing: border-box;
} 

html,body{
    color: white;
    background: #21232A;
    font-family: sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-size: 16px;
}

button{
    font-size: 15px;
    padding: 10px;
    margin-right: 10px;
}