body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.spinner{
  border: 5px solid rgba(0, 0, 0,.1);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-left-color: #09f;
  /* border-left-color: transparent; */
  /* animation: spin .6s linear infinite; */
  animation: spin .8s ease infinite;
  margin: auto;
  margin-top: 2rem;
}

@keyframes spin{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);;
  }
}